/* Author: Louis Holladay
 * Website: AdminDesigns.com
 * Last Updated: 01/12/14

 * This file is reserved for changes made by
 * the user. It's often times a good idea to
 * seperate your changes from the themes core.
 * It makes modifications, and future theme
 * updates much easier to apply.
-----------------------------------------------*/


/* These styles have been placed here for as
 * they have a high chance of needing to be
 * changed if one decides to modify the header
-----------------------------------------------*/

/* navbar bottom border disabled by default */
/*.navbar {
  border-bottom: 1px solid transparent;
}*/
/* header button states - text colors */
.header-btns > div > button:focus {
  color: #666;
}
.header-btns > div > button:hover {
  color: #0094d2;
}
/*Logo*/
.navbar-brand {
    padding: 0px 20px;
}
.navbar-brand > img {
    margin-top: 5px;
    height: 30px;
}
#loginLogo{
  width: 100%;
}
/*---------------------------------------------
 * Place your custom styles or styles which
 * have been generated with the customization
 * tool below this line.
----------------------------------------------*/
/*.navbar{background-color:#222D32;background-image:none;}*/
#sidebar:before{background: #f2f2f2;}
#sidebar ul.sidebar-nav > li > a{background: #f2f2f2;border-color: #ddd;}
#sidebar ul.sidebar-nav li ul.sub-nav{background: #f8f8f8;border-color: #ddd;}
ul.sidebar-nav ul.sub-nav li .glyphicons{color:rgb(32, 80, 102);}
ul.sidebar-nav li.active > a .glyphicons{color:rgb(233, 66, 22);}
ul.sidebar-nav > li > a .glyphicons{color:rgb(33, 51, 75);}

.module-customers:before {
  content: "\f0c0";
}

.module-users:before {
  content: "\f007";
}

.module-providers:before {
  content: "\f090";
}

.module-config:before {
  content: "\f013";
}

.hide_me{
    display : none;
}

.dataTable .btn {
  padding: 3px 8px;
}
.btn+.btn {
  margin-left: 5px;
}
.is-countdown {
  overflow: hidden;
  padding: 0 0 8px;
  width: auto;
}

.datepicker {
    z-index: 10000;
}

/* SEARCH */
.gridSearchFilters {
  overflow: hidden;
}
.gridCommonSearchFilters {
    float: right;
    margin-bottom: 20px;
}
.gridCommonSearchFilters .searchGroup {
  float: right;
  width: 215px;
}
.gridCommonSearchFilters .btn {
  padding: 6px;
  margin-left: 15px;
  float: right;
}
.customSearchAdvanced {
  clear: both;
}
.customSearchAdvanced .form-group {
  float: left;
  clear: none;
}
.customSearchAdvanced  {
  min-height: 85px;
}
.hyde {
  display: none;
}

/* Botones del Menú */
.pull-center button {
    width: 45px;
    height: 45px;
    margin-top: 2px;
}

.navbar .pull-center button .glyphicons, .pull-center button i {
    font-size: 24px;
}

/*Grid Filters*/
.opciones{position: absolute;margin: 0;padding: 0; top: 34px;right: 0;white-space: nowrap;z-index: 1000;}
.opciones li{list-style: none ;display: block;margin: 0;height: 34px;width: 41px; background-color: #555555;z-index: 100000; border: 1px solid #CCCCCC;color: #EEEEEE;font-size: 15px;font-family: arial;font-weight: bold;line-height: 1;text-align: center;padding-top: 9px;}
.input-group-addon{position: relative;}
.panel{overflow: visible;}
.opSign{color: #555555;font-family: arial;font-weight: bold;line-height: 1;text-align: center;padding: 0;}
.inputRight {border-left: none;border-radius: 0 4px 4px 0 !important;display: none;}


li.picker-switch.accordion-toggle .btn{
  color: #444;
}
li.picker-switch.accordion-toggle .btn:hover{
  color: #CCC;
}

div.timepicker-picker span.glyphicon-chevron-up {
  color: #444;
}

div.timepicker-picker span.glyphicon-chevron-up:hover {
  color: #CCC;
}

div.timepicker-picker span.glyphicon-chevron-down {
  color: #444;
}

div.timepicker-picker span.glyphicon-chevron-down:hover {
  color: #CCC;
}


label.required > span {

  color: red;

}

.table > thead:first-child > tr:first-child > th{
  border-top: 1px solid #bbb;
}

.icons-list > li > a {
  color: #fff
}

textarea[resize="false"] {
  resize: none !important;
}
textarea.hide+.cke_editor_description{
  display: none;
}
[data-action="changelang"]{  
  width: 45px;
  opacity: 0.8;
}
.active[data-action="changelang"]{
  font-weight: bold;  
  opacity: 1;
}
label.langlbl{
  position: absolute;
  right: 10px;
  top: 27px;
  width: 45px;
}


.heading-elements:not(.visible-elements) .icons-list {
  margin-top: 0;
}
.btn-block {
  margin: 0 !important;
}
.panel-empty {
  margin-bottom: 20px;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected,
.picker__day--highlighted,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background-color: #263238;
}
.picker__day--today::before {
  border-top: 6px solid #263238;
}
.picker__day--highlighted::before {
    border-top-color: #fff;
}
.picker__select--month,
.picker__select--year {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.panel-body-title {
    border-bottom: 1px solid #ddd;
    color: #666;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 10px 0 15px;
}
[data-bindaction="collapse"]{
  cursor: pointer;
}
.accordion .heading-elements .icons-list > li > a{
  color: #263238;
  margin-top: 10px;
}

.col-sm-12{
  float: none;
}
.form-group:after{
  clear: both !important;
}
.modal-dialog{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 93%;
}
.modal-footer{
  clear: both;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus{
  background-color: #0392cf;
}

label.error {
    color: #d9534f;
    font-size: 12px;
    font-weight: 600;
}